In [1]:
import pandas as pd

In [49]:
df_descriptive = pd.read_stata('oregonhie_descriptive_vars.dta')

In [50]:
df_inperson = pd.read_stata("oregonhie_inperson_vars.dta")

In [25]:
df_inperson['dep_dx_post_lottery_inp'].value_counts()

No     11472
Yes      623
Name: dep_dx_post_lottery_inp, dtype: int64

In [26]:
df_inperson['dep_dx_pre_lottery_inp'].value_counts()

No     8063
Yes    4166
Name: dep_dx_pre_lottery_inp, dtype: int64

In [55]:
combined_df = pd.merge(df_descriptive, df_inperson, on = 'person_id')

In [60]:
dep_cols = ['dep_dx_pre_lottery_inp', 'dep_dx_post_lottery_inp']
bp_cols = ['bp_dar_inp', 'bp_sar_inp']
er_visits = ['ed_num_incl_probe_inp']
borrow_money = ['borrow_inp']
treatment = ['treatment']

cols = treatment + dep_cols + bp_cols + er_visits + borrow_money
selected_df = combined_df[cols]

rename_cols = ['treatment', 'depression_pre', 'depression_post', 'bp_dias', 'bp_syst', 'er_visits', 'borrow_for_med']
selected_df.columns = rename_cols

In [61]:
selected_df.T

,0,1,2,3,4,5,6,7,8,9,...,20735,20736,20737,20738,20739,20740,20741,20742,20743,20744
treatment,Selected,Not selected,Not selected,Not selected,Not selected,Not selected,Selected,Selected,Selected,Not selected,...,Selected,Not selected,Not selected,Not selected,Selected,Selected,Not selected,Selected,Selected,Selected
depression_pre,No,No,NaN,No,Yes,No,NaN,No,No,Yes,...,No,NaN,No,No,NaN,No,Yes,Yes,Yes,NaN
depression_post,No,No,NaN,NaN,No,No,NaN,No,No,No,...,No,NaN,No,No,NaN,Yes,No,No,No,NaN
bp_dias,81,82,NaN,94,110,79,NaN,59,63,76,...,70,NaN,67,80,NaN,83,83,86,99,NaN
bp_syst,144,134,NaN,126,168,119,NaN,98,108,125,...,114,NaN,113,123,NaN,115,142,124,130,NaN
er_visits,0,2,NaN,1,1,0,NaN,0,0,10,...,2,NaN,1,0,NaN,2,0,3,0,NaN
borrow_for_med,No,Yes,NaN,No,No,No,NaN,No,No,No,...,No,NaN,No,No,NaN,No,No,No,No,NaN

In [62]:
selected_df.to_csv('./oregon_health_insurance.csv', index = True)